.quote {
  @apply mt-[8rem] mb-[5rem];
  .quote_main {
    @apply opacity-0 w-[90%] m-auto text-center border-double border-4  px-[3rem] py-[3rem] md:py-[4rem];
  }
  .quote_title {
    @apply opacity-0 text-[1rem] md:text-[1.5rem] xl:text-[1.8rem] 2xl:text-[2.5rem] font-bold mb-8;
  }
  .quote_author {
    @apply opacity-0 text-[.8rem] md:text-[1.1rem] xl:text-[1.5rem] 2xl:text-[2rem] font-bold;
  }
}
.add_quote_animation {
  animation: moveQuoteUp 0.5s ease forwards 1;
}
.add_quote_title_animation {
  animation: moveQuoteTitleUp 0.3s ease forwards 1;
}
@keyframes moveQuoteUp {
  from {
    transform: translateY(8rem);
  }
  to {
    opacity: 1;
  }
}
@keyframes moveQuoteTitleUp {
  from {
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
  }
}
